@using Radzen.Blazor
<!DOCTYPE html>
<html lang="en" x-data="{ direction: $store.app.direction }" x-bind:dir="$store.app.direction" class="group/item" x-bind:data-mode="$store.app.mode" x-bind:data-sidebar="$store.app.sidebarMode">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <title>Alakai Festival Manager</title>

    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/remixicon.css">
    <link rel="stylesheet" href="assets/css/tailwind.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/site.css">
    <link rel="stylesheet" href="assets/libs/tippy.js/tippy.css">
    <link rel="stylesheet" href="assets/libs/tippy.js/border.css">
    <link rel="stylesheet" href="assets/libs/fancybox/css/jquery.fancybox.css">
    <link rel="stylesheet" href="assets/libs/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />
    <RadzenTheme Theme="standard" @rendermode="InteractiveServer" />
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css">

    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body x-data="main"
      x-init="$store.app.hasCreative = window.location.href.includes('/creative'); $store.app.hasdetached = window.location.href.includes('/detached')"
      x-bind:class="[ $store.app.sidebar ? 'toggle-sidebar' : '', $store.app.fullscreen ? 'full' : '', $store.app.hasCreative ? 'detached ' : '', $store.app.hasdetached ? 'detached detached-simple ' : '', $store.app.layout ]"
      class="relative overflow-x-hidden text-sm antialiased font-normal text-black font-cerebri dark:text-white vertical">

    <Routes @rendermode="InteractiveServer" />

    <script src="assets/js/pages/alpine-collaspe.min.js"></script>
    <script src="assets/js/pages/alpine-persist.min.js"></script>
    <script src="assets/js/pages/alpine.min.js" defer></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="assets/libs/tippy.js/popper.min.js"></script>
    <script src="assets/libs/tippy.js/tippy-bundle.umd.min.js"></script>
    <script src="assets/js/pages/tooltips.init.js"></script>

    <script>
        window.toggleFullScreen = function () {
            if (document.fullscreenElement) {
                document.exitFullscreen();
            } else {
                document.documentElement.requestFullscreen();
            }
        };

        window.toggleSidebar = function () {
            document.body.classList.toggle('toggle-sidebar');
        };

        window.removeToggleSidebarClass = function () {
            document.body.classList.remove('toggle-sidebar');
        };

        window.getActiveFestivalId = function () {
            return localStorage.getItem('activeFestivalId');
        };

        window.setActiveFestivalId = function (id) {
            localStorage.setItem('activeFestivalId', id);
        };

        window.changeDirection = function (direction) {
            document.documentElement.setAttribute('dir', direction);
        };

        window.setBodyClass = function (className) {
            document.body.classList.remove('light', 'dark');
            document.body.classList.add(className);
        };

        window.addClickListener = function (dotNetObject) {
            document.body.addEventListener("click", function () {
                dotNetObject.invokeMethodAsync("HandleClickEvent");
            });
        };
    </script>

    <script src="assets/js/pages/index.global.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/pages/form-editor.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js"></script>
    <script src="assets/js/pages/festivals-table.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
