@inherits LayoutComponentBase

<div class="min-h-screen bg-slate-100 dark:bg-dark">
    <div class="relative min-h-screen overflow-hidden">
        <div class="absolute inset-0 bg-gradient-to-br from-slate-100 via-slate-200 to-purple/10 dark:from-dark dark:via-darklight dark:to-purple/20"></div>

        <div class="relative z-10">
            @Body
        </div>
    </div>
</div>