@using Radzen.Blazor
@inherits LayoutComponentBase
@inject IJSRuntime JsRuntime

<AuthorizeView Policy="AdminAccess">
    <Authorized>
        <div class="bg-[#f9fbfd] dark:bg-dark">
            <div class="bg-black min-h-[220px] sm:min-h-[250px] bg-bottom fixed hidden w-full -z-50 detached-img" style="background-image: url('assets/images/bg-main.png');"></div>

            <div x-cloak class="fixed inset-0 bg-black/60 dark:bg-dark/90 z-[999] lg:hidden" x-bind:class="{ 'hidden': !$store.app.sidebar }" x-on:click="$store.app.toggleSidebar()"></div>

            <div class="flex mx-auto main-container">
                <Sidebar />

                <div class="flex-1 main-content min-w-0">
                    <Topbar />

                    <div class="h-[calc(100vh-60px)] relative overflow-y-auto overflow-x-hidden p-4 space-y-4 detached-content min-w-0">
                        @Body
                        <Footer />
                    </div>
                </div>
            </div>
        </div>

        <RadzenComponents />
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>