<!-- Start Sidebar -->
<nav class="sidebar lg:z-[9] z-[10]">
    <div class="h-full bg-white dark:bg-darklight group-data-[sidebar=dark]/item:bg-darklight group-data-[sidebar=brand]/item:bg-sky-950">
        <div class="p-4">
            <NavLink href="/" class="w-full main-logo">
                <span class="block mx-auto text-xl font-bold tracking-wide text-center text-black dark:text-white group-data-[sidebar=brand]/item:text-white">ALAKAI</span>
            </NavLink>
        </div>

        <div class="h-[calc(100vh-60px)] overflow-y-auto overflow-x-hidden px-5 pb-4 space-y-6 detached-menu">
            <ul class="relative flex flex-col gap-1" x-data="{ activeMenu: 'configuration' }">
                <li class="menu-title">
                    <span class="text-xs text-black/40 dark:text-white/30">Menu</span>
                </li>

                <li class="menu nav-item">
                    <NavLink href="/" Match="NavLinkMatch.All" class="text-black nav-link group">
                        <div class="flex items-center gap-3">
                            <span class="flex items-center justify-center w-5 h-5">
                                <i class="ri-dashboard-fill text-lg leading-none"></i>
                            </span>
                            <span>Dashboard</span>
                        </div>
                    </NavLink>
                </li>

                <li class="menu nav-item">
                    <a href="javascript:;" class="items-center justify-between text-black nav-link group" x-bind:class="{ 'active': activeMenu === 'configuration' }" x-on:click="activeMenu === 'configuration' ? activeMenu = null : activeMenu = 'configuration'">
                        <div class="flex items-center gap-3">
                            <span class="flex items-center justify-center w-5 h-5">
                                <i class="ri-settings-3-fill text-lg leading-none"></i>
                            </span>
                            <span>Configuration</span>
                        </div>
                        <i class="ri-arrow-down-s-line text-lg dropdown-icon" x-bind:class="{ '!rotate-180': activeMenu === 'configuration' }"></i>
                    </a>

                    <ul x-show="activeMenu === 'configuration'" x-collapse class="flex flex-col gap-1 text-black sub-menu dark:text-white/60 group-data-[sidebar=dark]/item:text-white/60 group-data-[sidebar=brand]/item:text-sky-200/50">
                        <li><NavLink href="/festivals">Festivals</NavLink></li>
                        <li><NavLink href="/editions">Editions</NavLink></li>
                        <li><NavLink href="/pass-types">Pass Types</NavLink></li>
                        <li><NavLink href="/levels">Levels</NavLink></li>
                    </ul>
                </li>

                <li class="menu nav-item">
                    <a href="javascript:;" class="items-center justify-between text-black nav-link group" x-bind:class="{ 'active': activeMenu === 'operations' }" x-on:click="activeMenu === 'operations' ? activeMenu = null : activeMenu = 'operations'">
                        <div class="flex items-center gap-3">
                            <span class="flex items-center justify-center w-5 h-5">
                                <i class="ri-apps-2-fill text-lg leading-none"></i>
                            </span>
                            <span>Operations</span>
                        </div>
                        <i class="ri-arrow-down-s-line text-lg dropdown-icon" x-bind:class="{ '!rotate-180': activeMenu === 'operations' }"></i>
                    </a>

                    <ul x-show="activeMenu === 'operations'" x-collapse class="flex flex-col gap-1 text-black sub-menu dark:text-white/60 group-data-[sidebar=dark]/item:text-white/60 group-data-[sidebar=brand]/item:text-sky-200/50">
                        <li><NavLink href="/registrations">Registrations</NavLink></li>
                        <li><NavLink href="/users">Users</NavLink></li>
                        <li><NavLink href="/purchases">Purchases</NavLink></li>
                        <li><NavLink href="/competitions">Competitions</NavLink></li>
                        <li><NavLink href="/invoices">Invoices</NavLink></li>
                        <li><NavLink href="/emails">Emails</NavLink></li>
                    </ul>
                </li>

                <li class="menu nav-item">
                    <NavLink href="/settings" class="text-black nav-link group">
                        <div class="flex items-center gap-3">
                            <span class="flex items-center justify-center w-5 h-5">
                                <i class="ri-equalizer-fill text-lg leading-none"></i>
                            </span>
                            <span>Settings</span>
                        </div>
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Sidebar -->