@inject IJSRuntime JsRuntime

<!-- Start Topbar -->
<div class="bg-white dark:bg-darklight dark:border-darkborder flex gap-4 lg:z-10 items-center justify-between px-4 h-[60px] border-b border-black/10 detached-topbar relative">
    <div class="flex items-center flex-1 gap-2 sm:gap-4">
        <button type="button" class="flex items-center justify-center text-black dark:text-white/80" @onclick="ToggleSidebar">
            <i class="ri-menu-2-line text-2xl leading-none"></i>
        </button>

        <div class="relative hidden min-[420px]:block w-[180px] md:w-[350px]">
            <input type="text" id="search" class="border-black/10 dark:text-white/80 dark:placeholder:text-white/30 dark:border-darkborder dark:bg-dark dark:focus:border-white/30 focus:border-black/30 placeholder:text-black/50 border text-black text-sm rounded block w-full ltr:pl-3 rtl:pr-3 ltr:pr-9 rtl:pl-9 h-10 bg-[#f9fbfd] focus:ring-0 focus:outline-0" placeholder="Search..." />
            <button type="button" class="absolute inset-y-0 flex items-center text-black/60 ltr:right-0 rtl:left-0 ltr:pr-3 rtl:pl-3 dark:text-white/80">
                <i class="ri-search-line text-base leading-none"></i>
            </button>
        </div>
    </div>

    <div class="flex items-center gap-4">
        <button type="button" class="text-black dark:text-white/80" @onclick="ToggleFullScreen">
            <i class="ri-fullscreen-line text-xl leading-none"></i>
        </button>

        <button type="button" class="text-black dark:text-white/80" @onclick="ToggleMode">
            @if (Mode == "light")
            {
                <i class="ri-moon-line text-xl leading-none"></i>
            }
            else
            {
                <i class="ri-sun-line text-xl leading-none"></i>
            }
        </button>

        <button type="button" class="text-black dark:text-white/80">
            <i class="ri-settings-3-line text-xl leading-none"></i>
        </button>

        <button type="button" class="relative text-black dark:text-white/80">
            <i class="ri-notification-3-line text-xl leading-none"></i>
            <span class="absolute w-2 h-2 border border-white rounded-full -top-px ltr:right-px rtl:left-px bg-purple"></span>
        </button>

        <div class="flex items-center gap-1.5 xl:gap-0 dark:text-white/80">
            <img class="rounded-full h-7 w-7 ltr:xl:mr-2 rtl:xl:ml-2" src="assets/images/user.png" alt="Header Avatar" />
            <span class="hidden fw-medium xl:block dark:text-white/80">Alakai Admin</span>
            <i class="ri-arrow-down-s-line hidden xl:block text-lg leading-none"></i>
        </div>
    </div>
</div>
<!-- End Topbar -->
@code {
    private string Mode { get; set; } = "light";

    private async Task ToggleFullScreen()
    {
        await JsRuntime.InvokeVoidAsync("toggleFullScreen");
    }

    private async Task ToggleSidebar()
    {
        await JsRuntime.InvokeVoidAsync("toggleSidebar");
    }

    private async Task ToggleMode()
    {
        Mode = Mode == "light" ? "dark" : "light";
        await JsRuntime.InvokeVoidAsync("setBodyClass", Mode);
    }
}