@page "/editions"

<PageTitle>Editions</PageTitle>

<h1 class="text-2xl font-semibold text-black dark:text-white">Editions</h1>

<p class="mt-2 text-black/60">Edition management will be available here.</p>
