@page "/pass-types"

<PageTitle>Pass Types</PageTitle>

<h1 class="text-2xl font-semibold text-black dark:text-white">Pass Types</h1>

<p class="mt-2 text-black/60">Pass type management will be available here.</p>
